anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
async-generator==1.10
attrs==22.1.0
backcall==0.2.0
backports-datetime-fromisoformat==1.0.0
backports.zoneinfo==0.2.1
bleach==4.1.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.0.12
click==8.0.4
commonmark==0.9.1
contextlib2==21.6.0
contextvars==2.4
courlan==0.8.3
dataclasses==0.8
dateparser==1.1.1
decorator==4.2.1
defusedxml==0.7.1
entrypoints==0.4
fastapi==0.79.0
filelock==3.4.1
h11==0.13.0
htmldate==1.3.0
huggingface-hub==0.4.0
idna==3.3
immutables==0.18
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.7.1
jedi==0.17.2
jellyfish==0.9.0
Jinja2==3.0.3
joblib==1.1.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.1
jusText==3.0.0
keybert==0.6.0
keywords-en==0.1.0
langcodes==3.3.0
langdetect==1.0.7
lxml==4.9.1
MarkupSafe==2.0.1
mistune==0.8.4
nbclient==0.5.9
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.5
networkx==2.1
nltk==3.6.6
notebook==6.4.10
numpy==1.17.0
packaging==21.3
pandocfilters==1.5.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
ptyprocess==0.7.0
pycparser==2.21
pydantic==1.9.2
Pygments==2.12.0
pyparsing==3.0.9
pyrsistent==0.18.0
python-dateutil==2.8.2
pytopicrank @ git+https://github.com/smirnov-am/pytopicrank.git@a2606a2f4d60b997e5394768320884d3dcb8e0eb
pytz==2022.2
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==23.2.1
regex==2022.3.2
requests==2.27.1
rich==12.5.1
sacremoses==0.0.53
scikit-learn==0.19.1
scipy==1.0.0
segtok==1.5.11
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
six==1.11.0
sniffio==1.2.0
starlette==0.19.1
summa==1.2.0
tabulate==0.8.10
terminado==0.12.1
testpath==0.6.0
threadpoolctl==3.1.0
tld==0.12.6
tokenizers==0.12.1
torch==1.10.1
torchaudio==0.10.1+cu113
torchvision==0.11.2
tornado==6.1
tqdm==4.64.0
trafilatura==1.3.0
traitlets==4.3.3
transformers==4.18.0
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.11
uvicorn==0.16.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.1
yake @ git+https://github.com/LIAAD/yake@4f82feb2dfcf1a313621ecf6e4b2eeda6035d73c
zipp==3.6.0
